<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a href="http://localhost:3000/">Home</a></li>
        <li class='aboutButton'><a href="http://localhost:3000/about">About</a></li>
        <li class='aboutButton'><a href="http://localhost:3000/services">Services</a></li>
        <li class='aboutButton'><a href="#">Contact</a></li>
      </ul>

      <div class="body-wrapper">

        <div class="about-image">
          <div class="about-image-text">
            <h1 class='test-title'>About Us</h1>
          </div>
        </div>

        <div class="about-text-wrapper">
          <div class="about-text-sub-wrapper">
            <h1 class="about-text-title">Kevin Corrigan</h1>
            <div class="about-block">
              <div class="about-block-column">
                <img class="about-text-image" src="/images/photo-for-website.jpg" alt="Kevin Corrigan">
              </div>
              <div class="about-block-column">
                <p class="about-text">I provide extensive knowledge of education and non-profit funding to your organization. With over 25 years’ experience with the Seattle and Cincinnati school districts and nonprofits in both Washington and Ohio, I have expertise in grant development, writing, and management, strategic planning, and partnership development.
                    </br></br>I have worked extensively in the administration of local, state and federal funds and have done so with as the sole applicant/recipient of funding as well as in partnership with public and private agencies.  I have worked on large federal requests and smaller private foundation applications. My work is tailored to your needs.
                    </br></br>My strengths lie in the ability to work collaboratively with diverse constituencies over a broad range of programs and disciplines. Collaboration is key to success and is a fundamental element of my work at all stages and in all facets of my work with your organization.
                    </br></br>The more rewarding aspects of my work have been identifying organizational needs and supporting the solutions to these needs. This was useful in my work as a key participant in the development of Seattle Public Schools' strategic plan. I have also been responsible for state and federal compliance reviews, and developed enhanced management methods to ensure greater adherence to the appropriate use and reporting requirements for each award. I work effectively at all levels, from senior leadership to site-based leadership and program staff. This to ensure each grant is maximizing its potential and is functioning in a compliant, responsible, and sound manner.
                </p>
              </div>
            </div>
          </div>
          <div class="about-text-sub-wrapper">
            <div class="grey-background">
              <h1 class="about-text-title">Maureen Massey</h1>
              <div class="about-block">
                <div class="about-block-column">
                  <img class="about-text-image" src="" alt="Maureen Massey">
                </div>
                <div class="about-block-column">
                  <p class="about-text">After 18 years as a program coordinator and then executive director of a non-profit I’m excited to bring my skills in grant writing and non-profit management to my work with Mosaic’s non-profit clients. I have a deep understanding of the on-going funding and program challenges facing non-profits as they strive to deliver on their missions.
                      </br></br>My experience in grant writing, grant reports, program development and evaluation, and developing and maintaining relationships with funders provides the backbone for my work with our clients. I have written and submitted grants and grant reports to the major foundations in the Puget Sound region and beyond (including—The Gates Foundation, The Washington Women’s Foundation, Social Venture Partners, The Medina Foundation—to name a few) and the City of Seattle Department of Early Learning.
                      </br></br>During my tenure as the Executive Director of Team Read, I had the privilege of working with outstanding consultants (link to the Additional Information/Resources page) and I learned first-hand the resulting benefits to the organization (and me personally) in the expanded capacity, knowledge, support and expertise gained from our work together.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about-text-sub-wrapper">
            <h1 class="about-text-title">Zach Vanderport</h1>
            <div class="about-block">
              <div class="about-block-column">
                <img class="about-text-image" src="" alt="Zach Vanderport">
              </div>
              <div class="about-block-column">
                <p class="about-text">One of my personal mottos is “learn constantly” and as the Business Operations Manager I enjoy learning about the work of our clients and their impact on our community.
                    </br></br>I understand that time is a precious commodity for non-profit staff and I’m pledged to working with our clients as efficiently as possible to provide information and operations support.  I honed my customer service and program management skills in wildly different work environments—restaurants, a college athletic department, the Navy, and banking—what they have in common is being busy, unpredictable, and challenging.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-footer">
      </div>

    </div>
  </body>
</html>
