<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/contact.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a href="/">Home</a></li>
        <li class='aboutButton'><a href="/about">About</a></li>
        <li class='aboutButton'><a href="/services">Services</a></li>
        <li class='aboutButton'><a href="/contact">Contact</a></li>
      </ul>


      <h1>Contact</h1>

    </div>
    <div class="main-footer">
    </div>
  </body>
</html>
