<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/contact.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">

    <script>
      function responsive() {
        var x = document.getElementById("header-menu");
        if (x.className === "header") {
          x.className += " responsive";
        } else {
          x.className = "header";
        }
      }
    </script>
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header" id="header-menu">
        <li class='logo-item'><a href="/"><img class="logo" src="/images/orig-transparent.png" alt="logo"></a></li>
        <li class='aboutButton'><a href="/">Mosaic 3rd Sector Consulting</a></li>
        <li class="icon">
          <a href="javascript:void(0);" class="icon" onclick="responsive()">
            <i class="fa fa-bars">=</i>
          </a>
        </li>

        <div class="menu-items">
          <li class='menuButton'><a href="/about">About</a></li>
          <li class='menuButton'><a href="/services">Services</a></li>
          <li class='menuButton'><a href="/contact">Contact</a></li>
        </div>
      </ul>

      <div class="contact-block">
        <div class="contact-block-column">
          <h1 class="contact-title">Contact</h1>
          <p>Kevin Corrigan (for grant writing and related services) INSERT THE EMAILS FOR KEVIN AND ME AND ZACH THAT YOU’RE SETTING UP</p>
          <p>Maureen Massey (for grant writing and related services)</p>
          <p>Zach Vanderport (for general information and business questions)</p>

        </div>
        <div class="contact-block-column">
          <h1 class="contact-title">Additional Information/Resources</h1>
          <p>Great consultants help organizations build their capacity, expertise, and knowledge, and contribute to their ability to deliver on their mission.  Below are some of the outstanding consultants that Maureen worked with that she is happy to highlight and thank again,</p>
          <p>Andy Goodman <a href="https://www.thegoodmancenter.com/">https://www.thegoodmancenter.com/</a></p>
          <p>Claxon Marketing <a href="http://www.claxonmarketing.com">http://www.claxonmarketing.com</a></p>
          <p>Emily Anthony Consulting <a href="https://emilyanthony.com/home">https://emilyanthony.com/home</a></p>
          <p>Edsforth Consulting  <a href="https://www.edsforthconsulting.com/">https://www.edsforthconsulting.com/</a></p>
          <p>Luma Consulting <a href="http://luma-consulting.com/">http://luma-consulting.com/</a></p>
          <p>The Ostara Group <a href="https://www.ostaragroup.com/">https://www.ostaragroup.com/</a></p>

        </div>
      </div>
    </div>
  </body>
</html>
