<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a id="about">About</a></li>
      </ul>
      <div class="body-wrapper">
        <div class="main-image">
          <div class="main-image-text">
            <h1 class='test-title'><%= title %></h1>
            <p>You can check in here to see how it changes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
