<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a href="/">Home</a></li>
        <li class='aboutButton'><a href="/about">About</a></li>
        <li class='aboutButton'><a href="/services">Services</a></li>
        <li class='aboutButton'><a href="/contact">Contact</a></li>
      </ul>

      <div class="body-wrapper">

        <div class="main-image">
          <div class="main-image-content">
            <h1 class='test-title'>Our Mission</h1>
            <p class='main-image-text'>Supporting Northwest non-profits in building a thriving community</p>
            <a href="/services" class="button button1">See More</a>
          </div>
        </div>

        <div class="main-content">
          <div class="main-content-column">
            <h1 class="main-title">Vision</h1>
            <p class="main-content-text">Provide the highest level of professional grant development and management expertise to our clients.  We focus on supporting public and private education and youth development organizations in maximizing and sustaining their services.</p>
            <a class="button button1 button2" href="/services">Services</a>
          </div>
          <div class="main-content-column">
            <h1 class="main-title">Our Work with You</h1>
            <p class="main-content-text">We view our work as a partnership to assist your organization as you strive to achieve your mission in the community you serve. Our partnership is an investment you are making in the future of your organization.  As an extension of your fund development team, we expand your capacity and allow you to focus on other critical tasks. A true collaboration with you and your organization is integral to the work we do and the successes achieved on your behalf. </p>
            <a class="button button1 button2" href="/about">About Us</a>
          </div>
        </div>



      </div>
    </div>

  </body>
</html>
