<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/services.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a href="/">Home</a></li>
        <li class='aboutButton'><a href="/about">About</a></li>
        <li class='aboutButton'><a href="/services">Services</a></li>
        <li class='aboutButton'><a href="#">Contact</a></li>
      </ul>

      <div class="body-wrapper">
        <div class="services-image">
          <div class="services-image-text">
            <h1 class='test-title'>Services</h1>
          </div>
        </div>
        <div class="services-main">
          <div class="s-intro-text">
            <b class="sbt">Program development, grant writing, grant team facilitation, and consulting services are contracted on a per project basis.</b>
            <p class="main-content-text"> Longer-term contracts for ongoing research and writing are available. Contracts will include an hourly fee for each project and an approximate number of hours required for each project to be completed. Scope of services, fees, and timelines will be clearly stated in the contract. Costs per project vary depending on your needs and the specific requirements of the project.
            </p>
          </div>
          <div class="double_separator"></div>


          <div class="s-block">
            <div class="s-block-column">
              <img class="siw" src="/images/writing.jpg" alt="writing">
              <img class="siw2" src="/images/check-class-desk.jpg" alt="writing">
            </div>
            <div class="s-block-column">
              <div class="s-text-block">
                <h1 class="sht">Grant Writing</h2>
                <h4 class="sh2t">Needs Assessment & Grant Research</h4>
                <p>Includes conducting an initial needs assessment, research and subsequent development of a list of grant opportunities right for your organization.</p>
                <h4 class="sh2t">Project and Grant Proposal Writing</h4>
                <p>The development of a project proposal that includes an action plan, timeline for completion, and structural framework for applying for the grant. Writing grant proposals includes letters of intent; planning, developing, and writing the proposal; budget development; and editing.</p>
                <h4 class="sh2t">Special Note:</h4>
                <p>A primary contact person from your organization is required for coordinated communication throughout the duration of the contract. We maintain communication with clients throughout the proposal writing process in order to reduce confusion and increase likelihood of receiving funding. This communication includes your review of drafts, ongoing input on projects in development, and approval of the final products. Additionally, this person will be responsible for providing funder-required documents (such as IRS forms, audits, etc.) and budget justification information for each project.</p>
              </div>
            </div>
          </div>
          <div class="double_separator"></div>
          <div class="s-block">
            <div class="s-block-column">
              <div class="s-text-block2">
                <h1 class="sht">Grant Training </h2>
                <p>Having trained school district and agency staff to develop and manage grants and grant-funded programs, we are experienced in providing your organization with the tools your staff needs to write successful proposals.  After the initial meeting and after we provide you with the scope of work, you may decide your ultimate goal would be to write proposals yourself or train your staff to do so. We can provide the following:</p>
                <ul class="slt">
                  <li><h4 class="sh2t">Grant writing 101, the basics of grant research and development.</h4></li>
                  <li><h4 class="sh2t">Training on researching grant opportunities and how to write proposals.</h4></li>
                  <li><h4 class="sh2t">Program budget development and sustainability planning.</h4></li>
                  <li><h4 class="sh2t">A review of proposals that you have written and provide feedback and coaching.</h4></li>
                </ul>
                <p>Grant writing training and consultation costs do not reflect travel costs. A separate training proposal and contract will be completed with the client should training be requested.</p>
              </div>
            </div>
            <div class="s-block-column">
              <img class="siw" src="/images/training.jpg" alt="writing">
            </div>
          </div>
          <div class="double_separator"></div>


        </div>
      </div>

      <div class="main-footer">
      </div>
    </div>

  </body>
</html>
