<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/services.css' />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <div class="main-wrapper">
      <ul class="header">
        <li class='aboutButton'><a href="/">Home</a></li>
        <li class='aboutButton'><a href="/about">About</a></li>
        <li class='aboutButton'><a href="/services">Services</a></li>
        <li class='aboutButton'><a href="#">Contact</a></li>
      </ul>

      <div class="body-wrapper">
        <div class="services-image">
          <div class="services-image-text">
            <h1 class='test-title'>Services</h1>
          </div>
        </div>


      </div>

      <div class="main-footer">
      </div>


    </div>

  </body>
</html>
