body {
  padding: 0px;
  margin: 0;
  font: 14px 'Sarabun', sans-serif;
  overflow-x:hidden;
}

.about-image {
  text-align: center;
  vertical-align: middle;
  color:#FFF;
  width: 100%;
  height: 270px;
  background-size: cover;
  background-image: url("/images/clouds.jpg")/*url("https://images.pexels.com/photos/944636/pexels-photo-944636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
}

.about-image-text {
  position: relative;
  top: 30%;
  left: 50%;
  /*left: 50%;*/
  width: 400px;
  transform: translate(-50%, -50%);
}

.about-text-wrapper {
}

.about-text-sub-wrapper {
  height: 100%;
}

.about-block {
  justify-content: center;
  display: flex;
}

.about-block-column {
  border-radius: 5px;
  padding: 20px;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
}

.about-text-title {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.about-text {
    text-align: left;
    width: 600px;
    float: right;
    margin: 0;
}

.about-text-image {

  width: 200px;
  float:right;
}

.grey-background {
  background-color: #F5F5F5;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
