.contact-title {
  text-align: left;
  font-family: 'Roboto Slab', serif;
}

.contact-block {
  justify-content: center;
  display: flex;
  padding-top: 120px;
}

.contact-block-column {
  font-size: 20px;

  border-radius: 5px;
  padding: 20px;
  flex-basis: 700px;
  flex-grow: 0;
  text-align: left;
}

@media screen and (max-width: 768px) {

  .contact-block-column {
    width: 90%;
    margin: 5% 5%;
    padding: 0;
  }

  .contact-title {
    text-align: center;
    font-family: 'Roboto Slab', serif;

  }

  .contact-block {
    padding-top: 20px;
    display: block;
  }
}
