.contact-title {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
}

.contact-block {
  justify-content: center;
  display: flex;
  padding-top: 30px;
}

.contact-block-column {
  font-size: 20px;

  border-radius: 5px;
  padding: 40px;
  padding-top: 0;
  flex-basis: 750px;
  flex-grow: 0;
  text-align: left;
}

.contacts {
  font-size: 25px;
}

.group-image {
  height: 650px;
}

@media screen and (max-width: 768px) {

  .contact-block-column {
    width: 90%;
    margin: 5% 5%;
    padding: 0;
  }

  .contact-title {
    text-align: center;
    font-family: 'Roboto Slab', serif;

  }

  .contact-block {
    padding-top: 0px;
    display: block;
  }

  .group-image {
    height: auto;
    width: 100%;
  }
}
