.services-image {
  text-align: center;
  vertical-align: middle;
  color:#FFF;
  width: 100%;
  height: 230px;
  background-size: cover;
  background-image: url("/images/services-photos/library.jpeg")/*url("https://images.pexels.com/photos/944636/pexels-photo-944636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
}

.services-image-text {
  position: relative;
  top: 50%;
  left: 50%;
  font-family: 'Roboto Slab', serif;
  /*left: 50%;*/
  width: 400px;
  transform: translate(-50%, -50%);
}

.services-main {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  width: 1100px;
  text-align: left;
  padding-bottom: 80px;
}

.s-intro-text {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.sbt {
  font: 20px 'Sarabun', sans-serif;
}

.sht {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: left;
}

.sh2t {
  font-family: 'Roboto Slab', serif;
}

.siw {
  width: 300px;
  margin-top: 10px;
}

.siw2 {
  margin-top: 40px;
  width: 300px;
}

.slt {
  line-height: 20px;
}

.s-block {
  justify-content: flex-start;
  display: flex;
}


.s-text-block {
  width: 800px;
}

.s-text-block2 {
  width: 700px;
}

.s-block-column {
  border-radius: 5px;
  padding: 20px;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
}

.double_separator {
    height: 12px;
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px!important;
}

@media screen and (max-width: 768px) {
  .siw {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .services-main {
    text-align: center;
    width: 100%;
  }

  .main-content-text {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .sh2t {
    text-align: center;
  }

  .sht {
    text-align: center;
  }

  .siw2 {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .s-intro-text {
    width: 80%;
    margin: 10% 10%;
  }

  .s-text-block {
    width: 80%;
    margin: 10% 10%;
  }

  .s-text-block2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0;
  }

  .s-block {
    display: block;
  }
}
